body {
    color: #111;
    font-family: Arial, Tahoma, Sans-serif, serif;
    background: #ebebeb;
    font-size: 14px;
}

h1 {
    font-weight: normal;
    font-size: 26px;
}

h2 {
    font-weight: normal;
    font-size: 22px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
}

p {
    margin: 1em 0;
}

a {
    color: #dd0d19;
    text-decoration: underline;
}

hr {
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    padding: 0;
    height: 1px;
}

.table-borderless {
    border: 0;
    width: 100%;
    margin: 10px 0 20px;
}

.table {
    border: 1px solid #333;
    width: 100%;
    margin: 10px 0;
}

.th {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    background: #e6e6e6;
}

.th-backgroundless {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 4px;
    width: 160px;
}

.td {
    font-size: 13px;
    padding: 4px;
}

.odd {
    background: #f3f3f3;
}

.spamWarning {
    padding: 15px 0;
    color: #999;
    font-size: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 15px auto;
}

a.spam {
    font-size: 10px;
    text-decoration: underline;
    color: #888;
}

h1.newsletter {
    color: #dd0d19;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.newsletterContainer {
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    border: 1px solid #dd0d19;
    padding: 15px;
    background: #fff;
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}
