<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Options +SymLinksIfOwnerMatch
  RewriteEngine On
  # RewriteBase /

  # Redirect www to non-www
  RewriteCond %{HTTP_HOST} ^www\.ceskakruta\.cz [NC]
  RewriteRule ^(.*)$ https://ceskakruta.cz/$1 [R=301,L]

  # Redirect HTTP to HTTPS
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ https://ceskakruta.cz/$1 [R,L]

  # Redirect direct access to index.php to root
  RewriteCond %{THE_REQUEST} \s/index\.php [NC]
  RewriteRule ^index\.php$ / [R=301,L]

  # Redirect /admin and /admin/* to old.ceskakruta.cz/admin/...
  RewriteRule ^admin(.*)$ https://old.ceskakruta.cz/admin/sign/in [R=301,L]

  # Front controller
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]
</IfModule>
