// the ~ allows you to reference things in node_modules

// Main cervena: #E22228
// Secondary cervena: #7E2622
// Seda: #B4B4B4

@font-face {
    font-family: 'Calibri';
    src: local('fonts/calibri-regular.ttf');
}

main {
    padding-top: 88px;
}

.topbar {
    background: #E22228;

    a {
        color: #fff;
    }
}

.home-header {
    background: url('../img/home-header.png') center top no-repeat;
    min-height: 800px;

    h1, p, a {
        color: #fff;
    }

    h1, p {
        max-width: 640px;
    }
}

.home-squares {
    background: #F6CE7E;
    color: #fff;

    .container {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    h2 {
        color: #fff;
        margin-bottom: 40px;
    }

    a {
        display: block;
        max-width: 440px;
        height: 400px;
        border: 6px solid #fff;
        text-align: center;
        color: #fff;
        background-color: #79302A;
        background-position: center center;
        background-size: cover;
        position: relative;

        &.home-img-maso-a-uzeniny {
            background-image: url('../img/home-maso-a-uzeniny.png')
        }
        &.home-img-chlazene-kruty {
            background-image: url('../img/home-chlazene-kruty.png')
        }
        &.home-img-krutata {
            background-image: url('../img/home-krutata.png')
        }

        span {
            display: block;
            width: 100%;
            padding: 30px 0;
            font-size: 36px;
            font-weight: 700;
            background: rgba(135, 43, 38, 0.6);
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .5s ease;
        }

        &:hover {
            span {
                background: rgba(135, 43, 38, 0.88);
            }
        }
    }
}

.home-advantages {
    background: rgb(178,81,76);
    background: radial-gradient(circle, rgba(178,81,76,1) 0%, rgba(126,38,34,1) 100%);
    padding-top: 60px;
    padding-bottom: 60px;

    h2, h3, p {
        color: #fff;
    }

    .icon {
        display: block;
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
        background-size: cover;
    }

    .icon-1 {
        background: url('../img/home-icon-1.svg') center center no-repeat;
    }
    .icon-2 {
        background: url('../img/home-icon-2.svg') center center no-repeat;
    }
    .icon-3 {
        background: url('../img/home-icon-3.svg') center center no-repeat;
    }
    .icon-4 {
        background: url('../img/home-icon-4.svg') center center no-repeat;
    }
    .icon-5 {
        background: url('../img/home-icon-5.svg') center center no-repeat;
    }
    .icon-6 {
        background: url('../img/home-icon-6.svg') center center no-repeat;
    }
}

.home-delivery {
    background: url('../img/home-doprava.png') left center no-repeat #E6E6E6;
    padding: 100px 0;

    .container {
        padding-left: 700px;
    }
}

.home-delivery-steps {
    span {
        font-size: 50px;
        font-weight: bold;
        display: inline-block;
        width: 50px;
    }

    i {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }

    .step-1 i {
        width: 90px;
        height: 72px;
        background: url('../img/doprava-icon.svg') center center no-repeat;
    }

    .step-2 i {
        width: 90px;
        height: 79px;
        background: url('../img/vyber-zbozi-icon.svg') center center no-repeat;
    }

    .step-3 i {
        width: 90px;
        height: 81px;
        background: url('../img/dokonceni-objednavky-icon.svg') center center no-repeat;
    }
}

.home-contact {
    padding: 60px 0;
}

.separator {
    display: block;
    background: url('../img/separator.png') center center no-repeat;
    width: 155px;
    height: 94px;
    margin: 30px auto;
}

.about-us {
    p {
        max-width: 750px;
        margin: 30px auto;
    }

    padding-bottom: 60px;
}

.about-us-row {
    background: #EBBD70;
    margin: 50px auto;

    p {
        max-width: 450px;
        margin: 0 auto;
    }
}

.about-us-img-1,
.about-us-img-2 {
    min-height: 607px;
}

.about-us-img-1 {
    background: url('../img/about-us-1.png') center center no-repeat;
    background-size: cover;
}

.about-us-img-2 {
    background: url('../img/about-us-2.png') center center no-repeat;
    background-size: cover;
}

.about-meat-row {

}

.about-meat {
    padding: 30px 0;
}

.about-meat-img-1 {
    min-height: 437px;
    background: url('../img/turkey-meat-1.png') center center no-repeat;
    background-size: cover;
}

.about-meat-items {
    i {
        display: block;
        margin: 0 auto 20px auto;
        width: 61px;
        height: 58px;
    }

    > div {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.about-meat-icon-1 {
    background: url('../img/meat-icon-1.svg') center center no-repeat;
}
.about-meat-icon-2 {
    background: url('../img/meat-icon-2.svg') center center no-repeat;
}
.about-meat-icon-3 {
    background: url('../img/meat-icon-3.svg') center center no-repeat;
}
.about-meat-icon-4 {
    background: url('../img/meat-icon-4.svg') center center no-repeat;
}
.about-meat-icon-5 {
    background: url('../img/meat-icon-5.svg') center center no-repeat;
}
.about-meat-icon-6 {
    background: url('../img/meat-icon-6.svg') center center no-repeat;
}

.sales-places {
    padding: 60px 0;

    h2 {
        color: #EE787F;
    }
}

.sales-places-nav {
    border-right: 1px solid #ECECEC;

    a {
        display: block;
        width: 100%;
        padding: 15px;
        line-height: 25px;
        color: #575756;
        position: relative;

        &.active {
            background: #ECECEC;
            color: #000;

            .ci-arrow-down,
            .ci-arrow-right {
                background-color: #fff;
            }
        }

        .sales-places-icon-1,
        .sales-places-icon-2 {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: contain;
            margin-right: 15px;
            margin-top: 2px;
            float: left;
        }

        .sales-places-icon-1 {
            background: url('../img/places-icon-1.svg') center center no-repeat;
        }
        .sales-places-icon-2 {
            background: url('../img/places-icon-2.svg') center center no-repeat;
        }

        .ci-arrow-down,
        .ci-arrow-right {
            display: block;
            font-size: 10px;
            width: 20px;
            height: 20px;
            line-height: 23px;
            text-align: center;
            background: #ECECEC;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -10px;
            border-radius: 20px;
        }
    }
}

.alive-turkeys {
    padding: 60px 0;
}

.alive-turkeys-row {
    background: #EBBD70;
    margin: 50px auto;

    p {
        max-width: 450px;
        margin: 0 auto;
    }
}

.alive-turkeys-img-1,
.alive-turkeys-img-2 {
    min-height: 736px;
    position: relative;
}

.alive-turkeys-img-1 {
    background: url('../img/alive-turkeys-1.png') center center no-repeat;
    background-size: cover;
}

.alive-turkeys-img-2 {
    background: url('../img/alive-turkeys-2.png') center center no-repeat;
    background-size: cover;
}

.content-wrap {
    background: #fff;
    position: absolute;
    bottom: 25%;
    width: 80%;
    left: 10%;
    padding: 20px;
}

.calendar-row {
    .table-responsive {
        border: 1px solid #ECECEC;

        .table {
            margin-bottom: 0;

            tr:last-child td {
                border-bottom: 0;
            }
        }
    }
}

.ribbon {
    display: block;
    background: #F5B00B;
    color: #fff;
    padding: 15px;
    position: relative;
    overflow: hidden;
    text-align: right;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        width: 150px;
        height: 150px;
        left: -150px;
        top: 50%;
        margin-top: -75px;
        transform: rotate(45deg);
    }
}

.products-list {
    padding: 60px 0;
}

.products-calendar {
    padding: 60px 0;
}

.order-pickup-places {
    padding: 60px 0;
}

.choose-date {
    padding: 60px 0;
}
