{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

        <div class="newsletterContainer">
            <img src="{{ email.image('@images/logo.png') }}" alt="Logo">

            <h1 class="newsletter">Obnovení zapomenutého hesla</h1>

            {% set resetLink = url('reset_password', {token: token}) %}

            <div class="newsletterBody">
                <p>Požádali jste o obnovení zapomenutého hesla ke svému účtu na České Krutě.</p>
                <p>Po <a href="{{ resetLink }}">kliknutí na tento odkaz</a>, si zvolíte nové heslo.</p>

                <p>
                    Nefunguje-li vám kliknutí na odkaz, zkopírujte jej do svého prohlížeče:<br>
                    {{ resetLink }}
                </p>
            </div>

        </div>

    </body>
    </html>

{% endapply %}
