<div class="navbar-tool-icon-box bg-secondary">
    <span class="navbar-tool-label">{{ cart.itemsCount }}</span>
    <i class="navbar-tool-icon ci-cart"></i>
</div>
<div class="navbar-tool-text"><small>Můj košík</small>{{ cart.totalPrice.amount|price|raw }} Kč</div>
