<section class="home-delivery">
    <div class="container">
        <h2>Náš rozvoz</h2>

        <p>Zadejte vaši adresu a my najdeme optimální doručení na vaši adresu, dle našich možností.</p>

        <div class="input-group">
            <input class="form-control" type="text" placeholder="Zadejte vaše město či poštovní směrovací číslo">
            <button class="btn btn-primary" type="button">Potvrdit</button>
        </div>

        <h3 class="my-5">Jednoduchá objednávka ve 3 krocích</h3>

        <div class="home-delivery-steps">
            <div class="d-flex align-items-center py-3 step-1">
                <span>1.</span> <i></i> Zadejte ulici a číslo popisné.
            </div>

            <div class="d-flex align-items-center py-3 step-2">
                <span>2.</span> <i></i> Vyberte o jaké zboží máte zájem.
            </div>

            <div class="d-flex align-items-center py-3 step-3">
                <span>3.</span> <i></i> Těšte se na vaši objednávku.
            </div>
        </div>
    </div>
</section>
