<div class="order-panel">
    <ul class="nav nav-tabs media-tabs nav-justified">
        <li class="nav-item">
            <a href="{{ path('products') }}">
                <div class="nav-link {% if app.request.pathInfo == path('products') or app.request.pathInfo == path('products_cold') or app.request.pathInfo == path('products_cold_calendar') %}active{% endif %}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-bag"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">Nákup</h6>
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('choose_delivery') }}">
                <div class="nav-link {% if app.request.pathInfo == path('choose_delivery') %}active{% endif %}{# completed#}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-delivery"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">Doručení</h6>
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('choose_date') }}">
                <div class="nav-link {% if app.request.pathInfo == path('choose_date') %}active{% endif %}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-time"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">Termín</h6>
                            {# <div class="media-tab-subtitle text-muted fs-xs mb-0">Third step</div> #}
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
