{% extends 'base.html.twig' %}

{% block title %}O nás{% endblock %}

{% block content %}
    <section class="about-us text-center">
        <span class="separator"></span>

        <h1>O nás</h1>

        <p>Farma Rychvald je rodinná farma s dlouholetou tradicí v Beskydech nedaleko Ostravy. Specializujeme se na chov a výkrm krůt, nabízíme zdravé, dietní a chutné maso a výrobky z krůtího masa. Pod značkou "Česká krůta" poskytujeme kvalitní produkty pro osobní spotřebu i další prodej či chov. Ve výkrmu používáme přírodní doplňky pro podporu imunitního systému krůt. Všechno se děje přímo na farmě pod naším dohledem, takže maso a výrobky jsou čerstvé a přímo dodávány. Objevte chuť pravé české krůty a kvalitní farmářské produkty z Farmy Rychvald.</p>

        <div class="d-flex align-items-center flex-row about-us-row">
            <div class="col-sm p-3">
                <h2>Náš příběh</h2>
                <h3>2000</h3>
                <p>Vyrostli jsme na farmě mezi zvířaty a nejlepšími kamarády byli naše mláďata. Léta jsme trávili na balících sena a slámy a pak jsme se na chvíli vydali do světa. Poté jsme se vrátili zpět na rodinnou farmu a krok po kroku s využitím nabytých zkušeností budujeme chov, tak jak jsme si vždy představovali.</p>
            </div>
            <div class="col-sm about-us-img-1"></div>
        </div>

        <span class="separator"></span>

        <h2>Nová značka</h2>
        <h3>2014</h3>
        <p>Přizpůsobili jsme se rostoucím potřebám zákazníků a začali jsme nabízet zdravější, dietní a chutné krůtí maso pod novou značkou „Česká krůta“. Investovali jsme do nových technologií s důrazem na kvalitu masa, ale také na trvanlivost a čerstvost produktů. Postupně se nám podařilo vytvořit integrovaný proces výroby a distribuce, který umožňuje rychlé dodávky čerstvých výrobků přímo z farmy na váš stůl</p>

        <div class="d-flex align-items-center flex-row about-us-row">
            <div class="col-sm about-us-img-2"></div>
            <div class="col-sm p-3">
                <h2>Výrobky z masa</h2>
                <h3>2018</h3>

                <p>Rozhodli jsme se pokračovat dále a vytvořili jsme receptury na poctivé výrobky z našeho masa. Bez zbytečných „Éček“, nadměrného množství soli, bez mouky, sóji a dalších příměsí, pouze z nejkvalitnějšího masa tak, abychom je s chutí jedli my i naše děti.</p>
            </div>
        </div>

        <span class="separator"></span>

        <h2>Současnost</h2>
        <p>Momentálně se zaměřujeme na výrobu masa a uzenin, které jsou vyrobeny s péčí a dodržováním našich vysokých standardů kvality. Dále nabízíme prodej celých chlazených krůt a krocanů které jsou vždy čerstvé s okamžitým dodáním ve váze v jednotlivých týdnech, tak jak nám na farmě dorůstají. Pokud máte zájem o samostatný chov, v průběhu roku máme vždy zvířata v prodeji. Přijďte a objevte širokou škálu našich produktů, které Vám zaručí zdraví, vynikající chuťový zážitek a spokojenost.</p>

        <a class="btn btn-primary btn-lg" href="{{ path('products') }}">Přejít do naší nabídky</a>
    </section>
{% endblock %}
