{% extends 'base.html.twig' %}

{% block title %}Kontakty{% endblock %}

{% block content %}
    <section class="about-us text-center">
        <h1>O nás</h1>

        <p>Lorem ipsum</p>

        <div class="row">
            <div class="col-sm">
                <h2>Nová značka</h2>
                <h3>2000</h3>

                <p>Lorem ipsum</p>
            </div>
            <div class="col-sm"></div>
        </div>

        <h2>Nová značka</h2>
        <h3>2014</h3>
        <p>Lorem ipsum</p>

        <div class="row">
            <div class="col-sm">
                <h2>Nová značka</h2>
                <h3>2000</h3>

                <p>Lorem ipsum</p>
            </div>
            <div class="col-sm"></div>
        </div>

        <h2>Nová značka</h2>
        <h3>2014</h3>
        <p>Lorem ipsum</p>
    </section>
{% endblock %}
