{% extends 'base.html.twig' %}

{% block title %}Vlastnosti krůtího masa{% endblock %}

{% block content %}
<section class="about-meat text-center">

    <div class="d-flex align-items-center flex-row about-meat-row text-start">
        <div class="col-sm-5 about-meat-img-1"></div>
        <div class="col-sm-7 p-3 ps-5">
            <h1>Vlastnosti krůtího masa</h1>
            <p>Krůtí maso je výjimečné pro své výživové výhody a blahodárný vliv na zdraví. S nejnižším obsahem tuku mezi drůbeží je lehce stravitelné a přispívá k prevenci usazování cholesterolu v cévách, což ho činí vhodným pro osoby s cévními a srdečními problémy. Díky vysokému obsahu zinku je prospěšné pro fyzický vývoj dospívajících, posilování imunitního systému a podporu potence (150 g krůtího masa denně zajišťuje doporučenou dávku zinku). Vitamín B12 obsažený v krůtím mase předchází chudokrevnosti a podporuje zdraví nervového systému. Pravidelná konzumace krůtího masa je investicí do vlastního zdraví a prodlužuje život nejen vám, ale i vašim blízkým. Tryptofan, obsažený v krůtím mase, působí proti depresi, zlepšuje spánek a pomáhá s abstinenčními příznaky při odvykání kouření.</p>
        </div>
    </div>

    <div class="row about-meat-items">
        <div class="col-sm-4">
            <i class="about-meat-icon-1"></i>
            <h2>Obsah tuku</h2>
            <p>Krůtí maso má nejnižší obsah tuku, je vhodné pro zdravý životní styl a prevenci srdečních onemocnění.</p>
        </div>

        <div class="col-sm-4">
            <i class="about-meat-icon-2"></i>
            <h2>Posiluje imunitu</h2>
            <p>Vysoký obsah zinku v krůtím mase podporuje imunitní systém a fyzický vývoj.</p>
        </div>

        <div class="col-sm-4">
            <i class="about-meat-icon-3"></i>
            <h2>Vitální nervový systém</h2>
            <p>Vitamín B12 v krůtím mase posiluje nervy a působí proti chudokrevnosti.</p>
        </div>

        <div class="col-sm-4">
            <i class="about-meat-icon-4"></i>
            <h2>Zdravý životní styl</h2>
            <p>Pravidelná konzumace krůtího masa prodlužuje život a přináší zdravotní výhody.</p>
        </div>

        <div class="col-sm-4">
            <i class="about-meat-icon-5"></i>
            <h2>Pro dobrou náladu</h2>
            <p>Aminokyselina tryptofan v krůtím mase pomáhá snižovat deprese a zlepšuje kvalitu spánku.</p>
        </div>

        <div class="col-sm-4">
            <i class="about-meat-icon-6"></i>
            <h2>Parťák při dietě</h2>
            <p>Krůtí maso a zejména prsní svalovina je nedílnou součástí všech redukčních diet hlavně díky vysokému obsahu bílkovin a nízkému podílu tuků.</p>
        </div>
    </div>
</section>

{% endblock %}
