{% extends 'base.html.twig' %}

{% block title %}Drůbež k chovu{% endblock %}

{% block content %}
    <section class="alive-turkeys text-center">
        <h1>Drůbež k chovu</h1>

        <p>Jestliže pro svůj chov nebo další užití hledáte rozkrmená krůťata nebo vykrmené krůty a krocany, kteří nejsou stresováni dlouhým převozem a pobytem v bednách bez přísunu vody a krmiva a u kterých je zaručena stálá kontrola zdravotního stavu a poctivý chov, obraťte se na nás. Nabízíme pouze drůbež těch nejlepších vlastností!</p>

        <a href="{{ path('farms') }}">Kde si můžeze koupit a vyzvednout?</a>

        <div class="flex-row d-flex align-items-center alive-turkeys-row">
            <div class="col alive-turkeys-img-1">

            </div>
            <div class="col p-5">
                <h2>Krůťata na chov</h2>

                <p>Každý rok u nás můžete zakoupit kvalitní a zdravá krůťata k chovu. Nabízíme širokoprsá krůťata typu BUT 6, v jarních měsících také bronzová krůťata Kelly Bronze. Prodej probíhá střídavě na obou farmách tak jak nám krůťata rostou. Prodej od 5-ti do 9-ti týdnů stáří je na kusy, od stáří 10-ti týdnů na kg. Bronzová krůťata je nutné objednat předem</p>

                <a href="#">Důležité informace k chovu</a>
            </div>
            <div class="col alive-turkeys-img-2">
                <div class="content-wrap">
                    <h2>Vykrmené krůty a krocani</h2>
                    <p>Cena pro maloodběratele je 83,- Kč/Kg.</p>

                    <a href="{{ path('farms') }}">Kde si můžeze koupit a vyzvednout?</a>
                </div>
            </div>
        </div>

        <div class="row calendar-row">
            <div class="col-sm-3 pe-0">
                <span class="ribbon">
                    <strong>16. týden:</strong> 15.4.-21.4.
                </span>
            </div>

            <div class="col-sm-9 ps-0">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                Stáří<br>
                                <strong>10 týdnů</strong><br>
                                Přiblizná váha<br>
                                <strong>19 až 21 kg</strong>
                            </td>

                            <td>
                                <strong>Cena za Kg</strong><br>
                                Mix: 100 Kč<br>
                                Krocan: 100 Kč<br>
                                Krůta: 100 Kč
                            </td>
                            <td>
                                <a href="#">Farma doubrava</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stáří<br>
                                <strong>10 týdnů</strong><br>
                                Přiblizná váha<br>
                                <strong>19 až 21 kg</strong>
                            </td>

                            <td>
                                <strong>Cena za Kg</strong><br>
                                Mix: 100 Kč<br>
                                Krocan: 100 Kč<br>
                                Krůta: 100 Kč
                            </td>
                            <td>
                                <a href="#">Farma doubrava</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row calendar-row">
            <div class="col-sm-3 pe-0">
                <span class="ribbon">
                    <strong>16. týden:</strong> 15.4.-21.4.
                </span>
            </div>

            <div class="col-sm-9 ps-0">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                Stáří<br>
                                <strong>10 týdnů</strong><br>
                                Přiblizná váha<br>
                                <strong>19 až 21 kg</strong>
                            </td>

                            <td>
                                <strong>Cena za Kg</strong><br>
                                Mix: 100 Kč<br>
                                Krocan: 100 Kč<br>
                                Krůta: 100 Kč
                            </td>
                            <td>
                                <a href="#">Farma doubrava</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stáří<br>
                                <strong>10 týdnů</strong><br>
                                Přiblizná váha<br>
                                <strong>19 až 21 kg</strong>
                            </td>

                            <td>
                                <strong>Cena za Kg</strong><br>
                                Mix: 100 Kč<br>
                                Krocan: 100 Kč<br>
                                Krůta: 100 Kč
                            </td>
                            <td>
                                <a href="#">Farma doubrava</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </section>

{% endblock %}
