<turbo-stream action="prepend" targets="#toasts">
    <template>
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="ci-check-circle me-2"></i>
                <span class="fw-medium me-auto fs-lg">Přidáno do košíku</span>
                <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </template>
</turbo-stream>

<turbo-stream action="update" targets="#cart-nav">
    <template>
        {{ include('_cart_nav.html.twig') }}
    </template>
</turbo-stream>

