{% extends 'base.html.twig' %}

{% block title %}Změna hesla{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Změna hesla</h1>

        {{ include('_my_account_panel.html.twig') }}

        {{ form_start(form) }}
        {{ form_row(form.password) }}

        <p>
            <button class="btn btn-primary" type="submit">Uložit</button>
        </p>
        {{ form_end(form) }}
    </section>
{% endblock %}
