{% extends 'base.html.twig' %}

{% block title %}Výběr data{% endblock %}

{% block content %}
    <h1>Výběr data</h1>

    {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}
{% endblock %}
