{% extends 'base.html.twig' %}

{% block title %}Rozvoz domů{% endblock %}

{% block content %}
    <h1>Místo doručení</h1>

    <a href="{{ path('order_pickup_places') }}">Osobní odběr</a>

    {{ include('_order_panel.html.twig') }}
{% endblock %}
