{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <section class="content-section">

        <div>
            <h1>Kontakt</h1>
        </div>

        <div class="row py-md-4 py-lg-5">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <strong>B+K FARMA Rychvald s.r.o.</strong><br>
                        Rychvald 1215<br>
                        735 14 Rychvald<br>
                        IČ: <span class="no-phone-link">26866935</span><br>

                        <a href="https://maps.app.goo.gl/Ms7ybxKxftKqENh66" target="_blank" class="mt-2 btn btn-sm btn-outline-primary">Zobrazit na mapě</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        Telefon: <a href="tel:+420596546672">+420 596 546 672</a><br>
                        E-mail: <a href="mailto:info@ceskakruta.cz">info@ceskakruta.cz</a>
                    </div>
                </div>

                <p class="text-center mt-3">Společnost je vedena u Krajského soudu v Ostravě pod spisovou značkou C 50789/KSOS </p>
            </div>

            <div class="col-md-4 col-sm-6 text-center pt-2">
                <p>
                    <a href="{{ path('sales_places') }}" class="btn btn-primary btn-lg">Naše prodejny masa</a>
                </p>
                <p>
                    <a href="{{ path('farms') }}" class="btn btn-primary btn-lg">Naše farmy</a>
                </p>
            </div>
        </div>

    </section>
{% endblock %}
