{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <section class="contact">
        <h1>Kontakt</h1>

        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="ci-location h3 mt-2 mb-4 text-primary"></i>
                        <h3 class="h6 mb-2">Main store address</h3>
                        <p class="fs-sm text-muted">396 Lillian Blvd, Holbrook, NY 11741, USA</p>
                        <a class="fs-sm" href="#">
                            Click to see map
                            <i class="ci-arrow-right align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <p>Společnost je vedena u Krajského soudu v Ostravě pod spisovou značkou C 50789/KSOS </p>

        <p>
            <a href="#" class="btn btn-primary btn-lg">Naše farmy</a>
            <a href="#" class="btn btn-primary btn-lg">Naše prodejny</a>
        </p>
    </section>
{% endblock %}
