{% extends 'base.html.twig' %}

{% block title %}Naše farmy{% endblock %}

{% block content %}
    <section class="sales-places content-section">
        <div class="row">
            <div class="col-md-3 sales-places-nav pe-md-0">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('sales_places') }}">
                            <i class="sales-places-icon-1"></i>
                            Naše prodejny
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="{{ path('farms') }}">
                            <i class="sales-places-icon-2"></i>
                            Naše farmy
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="places-col col-md-9 ps-md-4 ps-lg-5">
                <h1 class="d-none d-md-block">Naše farmy</h1>

                <h2 class="h3 my-3 mt-md-5">Rychvald</h2>

                <div class="card shadow">
                    <div class="card-body row row-place-item d-flex text-center">
                        <div class="col-sm">
                            <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Rychvald 1215</strong><br>
                                <span class="text-muted">735 32 Rychvald</span><br>
                                <small class="text-muted">49°50'54.095"N, 18°24'2.230"E</small><br>
                                <a href="https://maps.app.goo.gl/YmRUVWhjWurjgtCHA" target="_blank">Mapa</a>
                            </p>
                        </div>

                        <div class="col-sm">
                            <i class="ci-time fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Informace</strong><br>
                                <span class="text-muted">Pondělí - Pátek: 7:00 - 15:00</span>
                            </p>

                            <p>
                                <a href="mailto:info@ceskakruta.cz">info@ceskakruta.cz</a>
                            </p>
                        </div>

                        <div class="col-sm">
                            <i class="ci-time fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Prodej živých krůt a krůťat</strong><br>
                                <span class="text-muted">Pondělí - Pátek: 7:30 - 14:15</span>
                            </p>
                        </div>
                    </div>
                </div>

                <h2 class="h3 my-3 mt-5">Doubrava</h2>

                <div class="card shadow">
                    <div class="card-body row-place-item row d-flex text-center">
                        <div class="col-sm">
                            <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Doubrava 1</strong><br>
                                <span class="text-muted">Doubrava, 735 33</span><br>
                                <small class="text-muted">49°51'56.959"N, 18°28'28.814"E</small><br>
                                <a href="https://maps.app.goo.gl/mSXL2XS1nJYctFtH9" target="_blank">Mapa</a>
                            </p>
                        </div>

                        <div class="col-sm">
                            <i class="ci-time fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Pouze prodej<br>živých krůt a krůťat</strong>
                            </p>
                        </div>

                        <div class="col-sm">
                            <i class="ci-time fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Prodej živých krůt a krůťat</strong><br>
                                <span class="text-muted">Pondělí - Pátek: 8:00 - 16:00<br>Sobota: 8:00 - 12:00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
