{% extends 'base.html.twig' %}

{% block title %}Naše farmy{% endblock %}

{% block content %}
    <section class="sales-places">
        <div class="row">
            <div class="col-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('sales_places') }}">
                            <i class="sales-places-icon-1"></i>
                            Naše prodejny
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="{{ path('farms') }}">
                            <i class="sales-places-icon-2"></i>
                            Naše farmy
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-9 ps-5">
                <h1>Naše farmy</h1>

                <h2 class="my-3 mt-4">Rychvald</h2>

                <div class="card">
                    <div class="card-body row d-flex text-center">
                        <div class="col">
                            <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Rychvald 121</strong><br>
                                <span class="text-muted">Havířov-Město, 736 01</span><br>
                                <a href="#">Mapa</a>
                            </p>
                        </div>

                        <div class="col border-start border-end">
                            <i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Ozvěte se</strong><br>
                                <span class="text-muted">+420 000 000 000</span><br>
                            </p>
                        </div>

                        <div class="col">
                            <i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Otevírací doba</strong><br>
                                <span class="text-muted">Pondělí - Pátek: 8:00 - 17:00</span>
                            </p>
                        </div>
                    </div>
                </div>

                <h2 class="my-3 mt-4">Havířov</h2>

                <div class="card">
                    <div class="card-body row d-flex text-center">
                        <div class="col">
                            <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Rychvald 121</strong><br>
                                <span class="text-muted">Havířov-Město, 736 01</span><br>
                                <a href="#">Mapa</a>
                            </p>
                        </div>

                        <div class="col border-start border-end">
                            <i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                            <p>
                                <strong>Ozvěte se</strong><br>
                                <span class="text-muted">+420 000 000 000</span><br>
                            </p>
                        </div>

                        <div class="col">
                            <i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>

                            <p>
                                <strong>Otevírací doba</strong><br>
                                <span class="text-muted">Pondělí - Pátek: 8:00 - 17:00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
