{% extends 'base.html.twig' %}

{% block title %}Zapomenuté heslo{% endblock %}

{% block content %}
    <div class="content-section">

        <div class="col-md-6">
            <h1 class="h3 mb-3">Zapomenuté heslo</h1>

            <p class="fs-sm text-muted mb-4">Zadejte e-mail, se kterým jste se registrovali. Pošleme vám odkaz pro zvolení nového hesla.</p>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Obnovit heslo</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
