{% extends 'base.html.twig' %}

{% block title %}Recepty{% endblock %}

{% block content %}
    <section class="recipes">
        <h1>Recepty</h1>
    </section>

    {% for recipe in recipes %}
        <p>
            {{ recipe.name }}<br>
            {{ recipe.text|raw }}
        </p>
    {% endfor %}
{% endblock %}
