{% extends 'base.html.twig' %}

{% block title %}Prodejní místa{% endblock %}

{% block content %}
    <section class="sales-places">
        <div class="row">
            <div class="col-sm-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('sales_places') }}">
                            <i class="sales-places-icon-1"></i>
                            Naše prodejny
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('farms') }}">
                            <i class="sales-places-icon-2"></i>
                            Naše farmy
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 ps-5">
                <h1>Naše prodejny</h1>

                {% for place in places %}
                    <h2 class="my-3 mt-4">{{ place.name }}</h2>

                    <div class="card">
                        <div class="card-body row d-flex text-center">
                            <div class="col">
                                <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                                <p>
                                    <strong>-</strong><br>
                                    <span class="text-muted">-</span><br>
                                    <a href="#">Mapa</a>
                                </p>
                            </div>

                            <div class="col border-start border-end">
                                <i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                                <p>
                                    <strong>Zavolejte nám</strong><br>
                                    <span class="text-muted">-</span><br>
                                </p>
                            </div>

                            <div class="col">
                                <i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>

                                <p>
                                    <strong>Otevírací doba</strong><br>
                                    <span class="text-muted">-</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
