{% extends 'base.html.twig' %}

{% block title %}Obchodní podmínky{% endblock %}

{% block content %}
    <section class="trade-terms pb-5 pt-4">

        <h1 class="text-center">Obchodní podmínky</h1>

        <p class="text-center">
            obchodní společnosti<br>
            B+K Farma Rychvald, s.r.o<br>
            se sídlem Rychvald 1215, 735 14 Rychvald<br>
            identifikační číslo: 26866935<br>
            zapsané v obchodním rejstříku vedeném u Krajského soudu v Ostravě, oddíl C, vložka 50789<br>
            pro prodej zboží prostřednictvím on-line obchodu umístěnéh
        </p>

        <span class="separator"></span>

        <ol>
            <li class="mt-3">
                <span class="fw-bold">ÚVODNÍ USTANOVENÍ</span>

                <ol>
                    <li class="mt-2">
                        Tyto obchodní podmínky (dále jen „obchodní podmínky“) obchodní společnosti, se sídlem Rychvald 1215, 735 14 Rychvald, identifikační číslo: 26866935, zapsané v obchodním rejstříku vedeném u Krajského soudu v Ostravě, oddíl C, vložka 50789 (dále jen „prodávající“) upravují v souladu s ustanovením § 1751 odst. 1 zákona č. 89/2012 Sb., občanský zákoník, ve znění pozdějších předpisů (dále jen „občanský zákoník“) vzájemná práva a povinnosti smluvních stran vzniklé v souvislosti nebo na základě kupní smlouvy (dále jen „kupní smlouva“) uzavírané mezi prodávajícím a jinou fyzickou osobou (dále jen „kupující“) prostřednictvím internetového obchodu prodávajícího. Internetový obchod je prodávajícím provozován na webové stránce umístěné na internetové adrese www.ceskakruta.cz (dále jen „webová stránka“), a to prostřednictvím rozhraní webové stránky (dále jen „webové rozhraní obchodu“).
                    </li>
                    <li class="mt-2">
                        Obchodní podmínky se nevztahují na případy, kdy osoba, která má v úmyslu nakoupit zboží od prodávajícího, je právnickou osobou či osobou, jež jedná při objednávání zboží v rámci své podnikatelské činnosti nebo v rámci svého samostatného výkonu povolání.
                    </li>
                    <li class="mt-2">
                        Ustanovení odchylná od obchodních podmínek je možné sjednat v kupní smlouvě. Odchylná ujednání v kupní smlouvě mají přednost před ustanoveními obchodních podmínek.
                    </li>
                    <li class="mt-2">
                        Ustanovení obchodních podmínek jsou nedílnou součástí kupní smlouvy. Kupní smlouva a obchodní podmínky jsou vyhotoveny v českém jazyce. Kupní smlouvu lze uzavřít v českém jazyce.
                    </li>
                    <li class="mt-2">
                        Znění obchodních podmínek může prodávající měnit či doplňovat. Tímto ustanovením nejsou dotčena práva a
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">UŽIVATELSKÝ ÚČET</span>

                <ol>
                    <li class="mt-2">
                        Na základě registrace kupujícího provedené na webové stránce může kupující přistupovat do svého uživatelského rozhraní. Ze svého uživatelského rozhraní může kupující provádět objednávání zboží (dále jen „uživatelský účet“). V případě, že to webové rozhraní obchodu umožňuje, může kupující provádět objednávání zboží též bez registrace přímo z webového rozhraní obchodu.
                    </li>
                    <li class="mt-2">
                        Při registraci na webové stránce a při objednávání zboží je kupující povinen uvádět správně a pravdivě všechny údaje. Údaje uvedené v uživatelském účtu je kupující při jakékoliv jejich změně povinen aktualizovat. Údaje uvedené kupujícím v uživatelském účtu a při objednávání zboží jsou prodávajícím považovány za správné.
                    </li>
                    <li class="mt-2">
                        Přístup k uživatelskému účtu je zabezpečen uživatelským jménem a heslem. Kupující je povinen zachovávat mlčenlivost ohledně informací nezbytných k přístupu do jeho uživatelského účtu.
                    </li>
                    <li class="mt-2">
                        Kupující není oprávněn umožnit využívání uživatelského účtu třetím osobám.
                    </li>
                    <li class="mt-2">
                        Prodávající může zrušit uživatelský účet, a to zejména v případě, kdy kupující svůj uživatelský účet déle než 24 měsíců nevyužívá, či v případě, kdy kupující poruší své povinnosti z kupní smlouvy (včetně obchodních podmínek).
                    </li>
                    <li class="mt-2">
                        Kupující bere na vědomí, že uživatelský účet nemusí být dostupný nepřetržitě, a to zejména s ohledem na nutnou údržbu hardwarového a softwarového vybavení prodávajícího, popř. nutnou údržbu hardwarového a softwarového vybavení třetích osob.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">UZAVŘENÍ KUPNÍ SMLOUVY</span>

                <ol>
                    <li class="mt-2">
                        Veškerá prezentace zboží umístěná ve webovém rozhraní obchodu je informativního charakteru a prodávající není povinen uzavřít kupní smlouvu ohledně tohoto zboží. Ustanovení § 1732 odst. 2 občanského zákoníku se nepoužije.
                    </li>
                    <li class="mt-2">
                        Webové rozhraní obchodu obsahuje informace o zboží, a to včetně uvedení cen jednotlivého zboží a nákladů za navrácení zboží, jestliže toto zboží ze své podstaty nemůže být navráceno obvyklou poštovní cestou. Ceny zboží jsou uvedeny včetně daně z přidané hodnoty a všech souvisejících poplatků. Ceny zboží zůstávají v platnosti po dobu, kdy jsou zobrazovány ve webovém rozhraní obchodu. Ceny zboží přizpůsobovány osobě kupujícího na základě automatizovaného rozhodování. Tímto ustanovením není omezena možnost prodávajícího uzavřít kupní smlouvu za individuálně sjednaných podmínek.
                    </li>
                    <li class="mt-2">
                        Webové rozhraní obchodu obsahuje také informace o nákladech spojených s balením a dodáním zboží, a o způsobu a datu dodání zboží. Informace o nákladech spojených s balením a dodáním zboží uvedené ve webovém rozhraní obchodu platí pouze v případech, kdy je zboží doručováno v rámci území České republiky. V případě, kdy prodávající nabízí dopravu zboží zdarma, je předpokladem vzniku práva na bezplatnou dopravu zboží na straně kupujícího zaplacení minimální celkové kupní ceny dopravovaného zboží ve výši stanovené ve webovém rozhraní obchodu. V případě, kdy dojde k částečnému odstoupení od kupní smlouvy kupujícím a celková kupní cena zboží, u kterého nedošlo k odstoupení od smlouvy kupujícím, nedosahuje minimální výše, jež je potřebná pro vznik práva na dopravu zboží zdarma podle předchozí věty, právo kupujícího na dopravu zboží zdarma zaniká a kupující je povinen dopravu zboží prodávajícímu uhradit.
                    </li>
                    <li class="mt-2">
                        Pro objednání zboží vyplní kupující objednávkový formulář ve webovém rozhraní obchodu. Objednávkový formulář obsahuje zejména informace o:
                        <ol>
                            <li class="mt-2">
                                objednávaném zboží (objednávané zboží „vloží“ kupující do elektronického nákupního košíku webového rozhraní obchodu),
                            </li>
                            <li class="mt-2">
                                způsobu úhrady kupní ceny zboží, údaje o požadovaném způsobu doručení objednávaného zboží a
                            </li>
                            <li class="mt-2">
                                informace o nákladech spojených s dodáním zboží (dále společně jen jako „objednávka“).
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Před zasláním objednávky prodávajícímu je kupujícímu umožněno zkontrolovat a měnit vstupní údaje, které do objednávky kupující vložil, a to i s ohledem na možnost kupujícího zjišťovat a opravovat chyby vzniklé při zadávání dat do objednávky. Objednávku odešle kupující prodávajícímu kliknutím na tlačítko „Závazně objednat“. Údaje uvedené v objednávce jsou prodávajícím považovány za správné. Prodávající neprodleně po obdržení objednávky toto obdržení kupujícímu potvrdí elektronickou poštou, a to na adresu elektronické pošty kupujícího uvedenou v uživatelském účtu či v objednávce (dále jen „elektronická adresa kupujícího“).
                    </li>
                    <li class="mt-2">
                        Prodávající je vždy oprávněn v závislosti na charakteru objednávky (množství zboží, výše kupní ceny, předpokládané náklady na dopravu) požádat kupujícího o dodatečné potvrzení objednávky (například písemně či telefonicky).
                    </li>
                    <li class="mt-2">
                        Smluvní vztah mezi prodávajícím a kupujícím vzniká doručením přijetí objednávky (akceptací), jež je prodávajícím zasláno kupujícímu elektronickou poštou, a to na adresu elektronické pošty kupujícího.
                    </li>
                    <li class="mt-2">
                        Kupující souhlasí s použitím komunikačních prostředků na dálku při uzavírání kupní smlouvy. Náklady vzniklé kupujícímu při použití komunikačních prostředků na dálku v souvislosti s uzavřením kupní smlouvy (náklady na internetové připojení, náklady na telefonní hovory) si hradí kupující sám, přičemž tyto náklady se neliší od základní sazby.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">CENA ZBOŽÍ A PLATEBNÍ PODMÍNKY</span>

                <ol>
                    <li class="mt-2">
                        Cenu zboží a případné náklady spojené s dodáním zboží dle kupní smlouvy může kupující uhradit prodávajícímu následujícími způsoby:
                        <ol>
                            <li class="mt-2">
                                v hotovosti v provozovně prodávajícího na adrese: příloha – seznam provozoven
                            </li>
                            <li class="mt-2">
                                v hotovosti na dobírku v místě určeném kupujícím v objednávce;
                            </li>
                            <li class="mt-2">
                                bezhotovostně platební kartou;
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Společně s kupní cenou je kupující povinen zaplatit prodávajícímu také náklady spojené s balením a dodáním zboží ve smluvené výši. Není-li uvedeno výslovně jinak, rozumí se dále kupní cenou i náklady spojené s dodáním zboží.
                    </li>
                    <li class="mt-2">
                        Prodávající nepožaduje od kupujícího zálohu či jinou obdobnou platbu. Tímto není dotčeno ustanovení čl. 4.6 obchodních podmínek ohledně povinnosti uhradit kupní cenu zboží předem.
                    </li>
                    <li class="mt-2">
                        V případě platby v hotovosti, na dobírku či ve výdejně zásilek je kupní cena splatná při převzetí zboží. V případě bezhotovostní platby je kupní cena splatná do dnů od uzavření kupní smlouvy.
                    </li>
                    <li class="mt-2">
                        V případě bezhotovostní platby je kupující povinen uhrazovat kupní cenu zboží společně s uvedením variabilního symbolu platby. V případě bezhotovostní platby je závazek kupujícího uhradit kupní cenu splněn okamžikem připsání příslušné částky na účet prodávajícího.
                    </li>
                    <li class="mt-2">
                        Prodávající je oprávněn, zejména v případě, že ze strany kupujícího nedojde k dodatečnému potvrzení objednávky (čl. 3.6), požadovat uhrazení celé kupní ceny ještě před odesláním zboží kupujícímu. Ustanovení § 2119 odst. 1 občanského zákoníku se nepoužije.
                    </li>
                    <li class="mt-2">
                        Případné slevy z ceny zboží poskytnuté prodávajícím kupujícímu nelze vzájemně kombinovat.
                    </li>
                    <li class="mt-2">
                        Je-li to v obchodním styku obvyklé nebo je-li tak stanoveno obecně závaznými právními předpisy, vystaví prodávající ohledně plateb prováděných na základě kupní smlouvy kupujícímu daňový doklad – fakturu. Prodávající je plátcem daně z přidané hodnoty. Daňový doklad – fakturu vystaví prodávající kupujícímu po uhrazení ceny zboží a předá jej kupujícímu spolu se zbožím.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">ODSTOUPENÍ OD KUPNÍ SMLOUVY</span>

                <ol>
                    <li class="mt-2">
                        Kupující bere na vědomí, že dle ustanovení § 1837 občanského zákoníku nelze mimo jiné odstoupit od kupní smlouvy o dodávce:
                        <ol>
                            <li class="mt-2">
                                zboží vyrobeného podle požadavků kupujícího nebo přizpůsobeného jeho osobním potřebám,
                            </li>
                            <li class="mt-2">
                                zboží, které podléhá rychlé zkáze, nebo zboží s krátkou dobou spotřeby, jakož i zboží, které bylo po dodání vzhledem ke své povaze nenávratně smíseno s jiným zbožím,
                            </li>
                            <li class="mt-2">
                                zboží v zapečetěném obalu, které z důvodu ochrany zdraví nebo z hygienických důvodů není vhodné vrátit poté, co jej kupující porušil, a
                            </li>
                            <li class="mt-2">
                                zvukové nebo obrazové nahrávky nebo počítačového programu v zapečetěném obalu, pokud jej kupující porušil.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Nejedná-li se o případ uvedený v čl. 5.1 obchodních podmínek či o jiný případ, kdy nelze od kupní smlouvy odstoupit, má kupující v souladu s ustanovením § 1829 odst. 1 a odst. 2 občanského zákoníku právo od kupní smlouvy odstoupit, a to do čtrnácti (14) dnů ode dne, kdy kupující nebo jím určená třetí osoba odlišná od dopravce převezeme zboží, nebo:
                        <ol>
                            <li class="mt-2">
                                poslední kus zboží, objedná-li kupující v rámci jedné objednávky více kusů zboží, které jsou dodávány samostatně,
                            </li>
                            <li class="mt-2">
                                poslední položku nebo část dodávky zboží sestávajícího z několika položek nebo částí, nebo
                            </li>
                            <li class="mt-2">
                                první dodávku zboží, je-li ve smlouvě ujednána pravidelná dodávka zboží po ujednanou dobu.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Odstoupení od kupní smlouvy musí být prodávajícímu odesláno ve lhůtě uvedené v čl. 5.2 obchodních podmínek.
                    </li>
                    <li class="mt-2">
                        V případě odstoupení od kupní smlouvy se kupní smlouva od počátku ruší. Zboží kupující zašle nebo předá prodávajícímu zpět bez zbytečného odkladu, nejpozději do čtrnácti (14) dnů od odstoupení od smlouvy, ledaže mu prodávající nabídl, že si zboží sám vyzvedne. Lhůta podle předchozí věty je zachována, pokud kupující odešle zboží před jejím uplynutím. Odstoupí-li kupující od kupní smlouvy, nese kupující náklady spojené s navrácením zboží prodávajícímu, a to i v tom případě, kdy zboží nemůže být vráceno pro svou povahu obvyklou poštovní cestou.
                    </li>
                    <li class="mt-2">
                        V případě odstoupení od kupní smlouvy dle čl. 5.2 obchodních podmínek vrátí prodávající peněžní prostředky přijaté od kupujícího do čtrnácti (14) dnů od odstoupení od kupní smlouvy kupujícím, a to stejným způsobem, jakým je prodávající od kupujícího přijal. Prodávající je taktéž oprávněn vrátit plnění poskytnuté kupujícím již při vrácení zboží kupujícím či jiným způsobem, pokud s tím kupující bude souhlasit a nevzniknou tím kupujícímu další náklady. Odstoupí-li kupující od kupní smlouvy, prodávající není povinen vrátit přijaté peněžní prostředky kupujícímu dříve, než prodávající obdrží zboží, nebo než mu kupující prokáže, že zboží odeslal zpět, podle toho, co nastane dříve.
                    </li>
                    <li class="mt-2">
                        Nárok na úhradu škody vzniklé na zboží je prodávající oprávněn jednostranně započíst proti nároku kupujícího na vrácení kupní ceny.
                    </li>
                    <li class="mt-2">
                        V případech, kdy má kupující v souladu s ustanovením § 1829 odst. 1 občanského zákoníku právo od kupní smlouvy odstoupit, je prodávající také oprávněn kdykoliv od kupní smlouvy odstoupit, a to až do doby převzetí zboží kupujícím. V takovém případě vrátí prodávající kupujícímu kupní cenu bez zbytečného odkladu, a to bezhotovostně na účet určený kupujícím.
                    </li>
                    <li class="mt-2">
                        Je-li společně se zbožím poskytnut kupujícímu dárek, je darovací smlouva mezi prodávajícím a kupujícím uzavřena s rozvazovací podmínkou, že dojde-li k odstoupení od kupní smlouvy kupujícím, pozbývá darovací smlouva ohledně takového dárku účinnosti a kupující je povinen spolu se zbožím prodávajícímu vrátit i poskytnutý dárek.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">PŘEPRAVA A DODÁNÍ ZBOŽÍ</span>

                <ol>
                    <li class="mt-2">
                        V případě, že je způsob dopravy smluven na základě zvláštního požadavku kupujícího, nese kupující riziko a případné dodatečné náklady spojené s tímto způsobem dopravy.
                    </li>
                    <li class="mt-2">
                        Je-li prodávající podle kupní smlouvy povinen dodat zboží na místo určené kupujícím v objednávce, je kupující povinen převzít zboží při dodání.
                    </li>
                    <li class="mt-2">
                        V případě, že je z důvodů na straně kupujícího nutno zboží doručovat opakovaně nebo jiným způsobem, než bylo uvedeno v objednávce, je kupující povinen uhradit náklady spojené s opakovaným doručováním zboží, resp. náklady spojené s jiným způsobem doručení.
                    </li>
                    <li class="mt-2">
                        Při převzetí zboží od přepravce je kupující povinen zkontrolovat neporušenost obalů zboží a v případě jakýchkoliv závad toto neprodleně oznámit přepravci. V případě shledání porušení obalu svědčícího o neoprávněném vniknutí do zásilky nemusí kupující zásilku od přepravce převzít. Tímto nejsou dotčena práva kupujícího z odpovědnosti za vady zboží a další práva kupujícího vyplývající z obecně závazných právních předpisů.
                    </li>
                    <li class="mt-2">
                        Další práva a povinnosti stran při přepravě zboží mohou upravit zvláštní dodací podmínky prodávajícího, jsou-li prodávajícím vydány.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">PRÁVA Z VADNÉHO PLNĚNÍ</span>

                <ol>
                    <li class="mt-2">
                        Práva a povinnosti smluvních stran ohledně práv z vadného plnění se řídí příslušnými obecně závaznými právními předpisy (zejména ustanoveními § 1914 až 1925, § 2099 až 2117 a § 2161 až 2174b občanského zákoníku a zákonem č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů).
                    </li>
                    <li class="mt-2">
                        Je-li předmětem koupě hmotná movitá věc, která je propojena s digitálním obsahem nebo službou digitálního obsahu takovým způsobem, že by bez nich nemohla plnit své funkce (dále jen „věc s digitálními vlastnostmi“), použijí se ustanovení ohledně odpovědnosti za vady prodávajícího také na poskytování digitálního obsahu nebo služby digitálního obsahu, i když je poskytuje třetí osoba. To neplatí, je-li z obsahu kupní smlouvy i z povahy věci zjevné, že jsou poskytovány samostatně.
                    </li>
                    <li class="mt-2">
                        Prodávající odpovídá kupujícímu, že věc při převzetí nemá vady. Zejména prodávající odpovídá kupujícímu, že věc:
                        <ol>
                            <li class="mt-2">
                                odpovídá ujednanému popisu, druhu a množství, jakož i jakosti, funkčnosti, kompatibilitě, interoperabilitě a jiným ujednaným vlastnostem,
                            </li>
                            <li class="mt-2">
                                je vhodná k účelu, pro který ji kupující požaduje a s nímž prodávající souhlasil, a
                            </li>
                            <li class="mt-2">
                                je dodána s ujednaným příslušenstvím a pokyny k použití, včetně návodu k montáži nebo instalaci.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Prodávající odpovídá kupujícímu, že vedle ujednaných vlastností:
                        <ol>
                            <li class="mt-2">
                                je věc vhodná k účelu, k němuž se věc tohoto druhu obvykle používá, i s ohledem na práva třetích osob, právní předpisy, technické normy nebo kodexy chování daného odvětví, není-li technických norem,
                            </li>
                            <li class="mt-2">
                                věc množstvím, jakostí a dalšími vlastnostmi, včetně životnosti, funkčnosti, kompatibility a bezpečnosti, odpovídá obvyklým vlastnostem věcí téhož druhu, které může kupující rozumně očekávat, i s ohledem na veřejná prohlášení učiněná prodávajícím nebo jinou osobou v témže smluvním řetězci, zejména reklamou nebo označením, ledaže prodávající prokáže, že si ho nebyl vědom nebo že bylo v době uzavření kupní smlouvy upraveno alespoň srovnatelným způsobem, jakým bylo učiněno, anebo že na rozhodnutí o koupi nemohlo mít vliv,
                            </li>
                            <li class="mt-2">
                                je věc dodána s příslušenstvím, včetně obalu, návodu k montáži a jiných pokynů k použití, které může kupující rozumně očekávat, a
                            </li>
                            <li class="mt-2">
                                věc odpovídá jakostí nebo provedením vzorku nebo předloze, které prodávající kupujícímu poskytl před uzavřením kupní smlouvy.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Ustanovení čl. 7.4 obchodních podmínek se nepoužije v případě, že prodávající kupujícího před uzavřením kupní smlouvy zvlášť upozornil, že se některá vlastnost věci liší a kupující s tím při uzavírání kupní smlouvy výslovně souhlasil.
                    </li>
                    <li class="mt-2">
                        Prodávající odpovídá kupujícímu také za vadu způsobenou nesprávnou montáží nebo instalací, která byla podle kupní smlouvy provedena prodávajícím nebo na jeho odpovědnost. To platí i v případě, že byla montáž nebo instalace provedena kupujícím a vada nastala v důsledku nedostatku v návodu, který k ní poskytl prodávající nebo poskytovatel digitálního obsahu nebo služby digitálního obsahu, jde-li o věc s digitálními vlastnostmi.
                    </li>
                    <li class="mt-2">
                        Projeví-li se vada v průběhu jednoho roku od převzetí, má se za to, že věc byla vadná již při převzetí, ledaže to povaha věci nebo vady vylučuje. Tato doba neběží po dobu, po kterou kupující nemůže věc užívat, v případě, že vadu vytkl oprávněně.
                    </li>
                    <li class="mt-2">
                        Je-li předmětem koupě věc s digitálními vlastnostmi, prodávající zabezpečí, že budou kupujícímu poskytovány ujednané aktualizace digitálního obsahu nebo služby digitálního obsahu. Vedle ujednaných aktualizací prodávající zabezpečí, že budou kupujícímu poskytovány aktualizace, které jsou nezbytné, aby si věc po převzetí uchovala vlastnosti podle čl. 7.3 a čl. 7.4 obchodních podmínek, a že bude na jejich dostupnost upozorněn:
                        <ol>
                            <li class="mt-2">
                                po dobu dvou let, mají-li být podle kupní smlouvy digitální obsah nebo služba digitálního obsahu poskytovány soustavně po určitou dobu, a je-li ujednáno poskytování po dobu delší dvou let, po celou tuto dobu,
                            </li>
                            <li class="mt-2">
                                po dobu, po kterou to kupující může rozumně očekávat, mají-li být podle kupní smlouvy digitální obsah nebo služba digitálního obsahu poskytnuty jednorázově; to se posoudí podle druhu a účelu věci, povahy digitálního obsahu nebo služby digitálního obsahu a s přihlédnutím k okolnostem při uzavření kupní smlouvy a povaze závazku.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Ustanovení čl. 7.8 obchodních podmínek neplatí v případě, že prodávající kupujícího před uzavřením kupní smlouvy zvlášť upozornil, že aktualizace poskytovány nebudou a kupující s tím při uzavírání kupní smlouvy výslovně souhlasil.
                    </li>
                    <li class="mt-2">
                        Neprovedl-li kupující aktualizaci v přiměřené době, nemá práva z vady, která vznikla pouze v důsledku neprovedené aktualizace. To neplatí v případě, že kupující nebyl upozorněn na aktualizaci nebo na důsledky jejího neprovedení anebo aktualizaci neprovedl či ji provedl nesprávně v důsledku nedostatku v návodu. Mají-li být podle kupní smlouvy digitální obsah nebo služba digitálního obsahu poskytovány soustavně po určitou dobu a projeví-li se nebo vyskytne-li se vada v době podle čl. 7.8.1 a čl. 7.8.2 obchodních podmínek, má se za to, že jsou digitální obsah nebo služba digitálního obsahu poskytovány vadně.
                    </li>
                    <li class="mt-2">
                        Kupující může vytknout vadu, která se na věci projeví v době dvou let od převzetí. Je-li předmětem koupě věc s digitálními vlastnostmi a mají-li být podle kupní smlouvy digitální obsah nebo služba digitálního obsahu poskytovány soustavně po určitou dobu, může kupující vytknout vadu, která se na nich vyskytne nebo projeví v době dvou let od převzetí. Má-li být plněno po dobu delší dvou let, má kupující právo z vady, která se vyskytne nebo projeví v této době. Vytkl-li kupující prodávajícímu vadu oprávněně, doba pro vytčení vady věci neběží po dobu, po kterou kupující nemůže věc užívat.
                    </li>
                    <li class="mt-2">
                        Má-li věc vadu, může kupující požadovat její odstranění. Podle své volby může požadovat dodání nové věci bez vady nebo opravu věci, ledaže je zvolený způsob odstranění vady nemožný nebo ve srovnání s druhým nepřiměřeně nákladný; to se posoudí zejména s ohledem na význam vady, hodnotu, kterou by věc měla bez vady, a to, zda může být druhým způsobem vada odstraněna bez značných obtíží pro kupujícího. Prodávající může odmítnout vadu odstranit, je-li to nemožné nebo nepřiměřeně nákladné zejména s ohledem na význam vady a hodnotu, kterou by věc měla bez vady.
                    </li>
                    <li class="mt-2">
                        Prodávající odstraní vadu v přiměřené době po jejím vytknutí tak, aby tím kupujícímu nezpůsobil značné obtíže, přičemž se zohlední povaha věci a účel, pro který kupující věc koupil. K odstranění vady převezme prodávající věc na vlastní náklady. Vyžaduje-li to demontáž věci, jejíž montáž byla provedena v souladu s povahou a účelem věci předtím, než se vada projevila, prodávající provede demontáž vadné věci a montáž opravené nebo nové věci anebo uhradí náklady s tím spojené.
                    </li>
                    <li class="mt-2">
                        Kupující může požadovat přiměřenou slevu nebo odstoupit od kupní smlouvy, pokud:
                        <ol>
                            <li class="mt-2">
                                prodávající vadu odmítl odstranit nebo ji neodstranil v souladu s čl. 7.13 obchodních podmínek,
                            </li>
                            <li class="mt-2">
                                se vada projeví opakovaně,
                            </li>
                            <li class="mt-2">
                                je vada podstatným porušením kupní smlouvy, nebo
                            </li>
                            <li class="mt-2">
                                je z prohlášení prodávajícího nebo z okolností zjevné, že vada nebude odstraněna v přiměřené době nebo bez značných obtíží pro kupujícího.
                            </li>
                        </ol>
                    </li>
                    <li class="mt-2">
                        Je-li vada věci nevýznamná, kupující nemůže odstoupit od kupní smlouvy (ve smyslu čl. 7.14 obchodních podmínek); má se za to, že vada věci není nevýznamná. Odstoupí-li kupující od kupní smlouvy, prodávající vrátí kupujícímu kupní cenu bez zbytečného odkladu poté, co obdrží věc nebo co mu kupující prokáže, že věc odeslal.
                    </li>
                    <li class="mt-2">
                        Vadu lze vytknout prodávajícímu, u kterého věc byla koupena. Je-li však k opravě určena jiná osoba, která je v místě prodávajícího nebo v místě pro kupujícího bližším, kupující vytkne vadu tomu, kdo je určen k provedení opravy.
                    </li>
                    <li class="mt-2">
                        S výjimkou případů, kdy je k provedení opravy určena jiná osoba, je prodávající povinen přijmout reklamaci v kterékoli provozovně, v níž je přijetí reklamace možné s ohledem na sortiment prodávaných výrobků nebo poskytovaných služeb, případně i ve svém sídle. Prodávající je povinen kupujícímu vydat při uplatnění reklamace písemné potvrzení, ve kterém uvede datum, kdy kupující reklamaci uplatnil, co je jejím obsahem, jaký způsob vyřízení reklamace kupující požaduje a kontaktní údaje kupujícího pro účely poskytnutí informace o vyřízení reklamace. Tato povinnost se vztahuje i na jiné osoby určené k provedení opravy.
                    </li>
                    <li class="mt-2">
                        Reklamace včetně odstranění vady musí být vyřízena a kupující o tom musí být informován nejpozději do třiceti (30) dnů ode dne uplatnění reklamace, pokud se prodávající s kupujícím nedohodne na delší lhůtě. Je-li předmětem závazku poskytnutí digitálního obsahu, včetně digitálního obsahu dodaného na hmotném nosiči, nebo služby digitálního obsahu, musí být reklamace vyřízena v přiměřené době s přihlédnutím k povaze digitálního obsahu nebo služby digitálního obsahu a k účelu, pro nějž je kupující požadoval.
                    </li>
                    <li class="mt-2">
                        Po marném uplynutí lhůty podle čl. 7.18 obchodních podmínek může kupující od kupní smlouvy odstoupit nebo požadovat přiměřenou slevu.
                    </li>
                    <li class="mt-2">
                        Prodávající je povinen vydat kupujícímu potvrzení o datu a způsobu vyřízení reklamace, včetně potvrzení o provedení opravy, a době jejího trvání, případně písemné odůvodnění zamítnutí reklamace. Tato povinnost se vztahuje i na jiné osoby určené k provedení opravy.
                    </li>
                    <li class="mt-2">
                        Práva z odpovědnosti za vady zboží může kupující konkrétně uplatnit zejména osobně na adrese, telefonicky na čísle či elektronickou poštou na adrese.
                    </li>
                    <li class="mt-2">
                        Kdo má právo z vadného plnění, náleží mu i náhrada nákladů účelně vynaložených při uplatnění tohoto práva. Neuplatní-li však kupující právo na náhradu do jednoho měsíce po uplynutí lhůty, ve které je třeba vytknout vadu, soud právo nepřizná, pokud prodávající namítne, že právo na náhradu nebylo uplatněno včas.
                    </li>
                    <li class="mt-2">
                        Další práva a povinnosti stran související s odpovědností prodávajícího za vady může upravit reklamační řád prodávajícího.
                    </li>
                    <li class="mt-2">
                        Prodávající či jiná osoba může kupujícímu poskytnout nad rámec jeho zákonných práv z vadného plnění také záruku za jakost.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">DALŠÍ PRÁVA A POVINNOSTI SMLUVNÍCH STRAN</span>

                <ol>
                    <li class="mt-2">
                        Kupující nabývá vlastnictví ke zboží zaplacením celé kupní ceny zboží.
                    </li>
                    <li class="mt-2">
                        Prodávající není ve vztahu ke kupujícímu vázán žádnými kodexy chování ve smyslu ustanovení § 1820 odst. 1 písm. n) občanského zákoníku.
                    </li>
                    <li class="mt-2">
                        Vyřizování stížností spotřebitelů zajišťuje prodávající prostřednictvím elektronické pošty. Stížnosti je možné zasílat na elektronickou adresu prodávajícího. Informaci o vyřízení stížnosti kupujícího zašle prodávající na elektronickou adresu kupujícího. Jiná pravidla vyřizování stížností nejsou prodávajícím stanovena.
                    </li>
                    <li class="mt-2">
                        K mimosoudnímu řešení spotřebitelských sporů z kupní smlouvy je příslušná Česká obchodní inspekce, se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: <a href="https://adr.coi.cz/cs">https://adr.coi.cz/cs</a>. Platformu pro řešení sporů on-line nacházející se na internetové adrese <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a> je možné využít při řešení sporů mezi prodávajícím a kupujícím z kupní smlouvy.
                    </li>
                    <li class="mt-2">
                        Evropské spotřebitelské centrum Česká republika, se sídlem Štěpánská 567/15, 120 00 Praha 2, internetová adresa: <a href="http://www.evropskyspotrebitel.cz">http://www.evropskyspotrebitel.cz</a> je kontaktním místem podle Nařízení Evropského parlamentu a Rady (EU) č. 524/2013 ze dne 21. května 2013 o řešení spotřebitelských sporů on-line a o změně nařízení (ES) č. 2006/2004 a směrnice 2009/22/ES (nařízení o řešení spotřebitelských sporů on-line).
                    </li>
                    <li class="mt-2">
                        Kupující se může obrátit se stížností na orgán dohledu nebo státního dozoru. Prodávající je oprávněn k prodeji zboží na základě živnostenského oprávnění. Živnostenskou kontrolu provádí v rámci své působnosti příslušný živnostenský úřad. Dozor nad oblastí ochrany osobních údajů vykonává Úřad pro ochranu osobních údajů. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo jiné dozor nad dodržováním občanského zákoníku a zákona č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů.
                    </li>
                    <li class="mt-2">
                        Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského zákoníku.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">OCHRANA OSOBNÍCH ÚDAJŮ</span>

                <ol>
                    <li class="mt-2">
                        Kupující nabývá vlastnictví ke zboží zaplacením celé kupní ceny zboží.
                    </li>
                    <li class="mt-2">
                        Prodávající není ve vztahu ke kupujícímu vázán žádnými kodexy chování ve smyslu ustanovení § 1820 odst. 1 písm. n) občanského zákoníku.
                    </li>
                    <li class="mt-2">
                        Vyřizování stížností spotřebitelů zajišťuje prodávající prostřednictvím elektronické pošty. Stížnosti je možné zasílat na elektronickou adresu prodávajícího. Informaci o vyřízení stížnosti kupujícího zašle prodávající na elektronickou adresu kupujícího. Jiná pravidla vyřizování stížností nejsou prodávajícím stanovena.
                    </li>
                    <li class="mt-2">
                        K mimosoudnímu řešení spotřebitelských sporů z kupní smlouvy je příslušná Česká obchodní inspekce, se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: <a href="https://adr.coi.cz/cs">https://adr.coi.cz/cs</a>. Platformu pro řešení sporů on-line nacházející se na internetové adrese <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a> je možné využít při řešení sporů mezi prodávajícím a kupujícím z kupní smlouvy.
                    </li>
                    <li class="mt-2">
                        Evropské spotřebitelské centrum Česká republika, se sídlem Štěpánská 567/15, 120 00 Praha 2, internetová adresa: <a href="http://www.evropskyspotrebitel.cz">http://www.evropskyspotrebitel.cz</a> je kontaktním místem podle Nařízení Evropského parlamentu a Rady (EU) č. 524/2013 ze dne 21. května 2013 o řešení spotřebitelských sporů on-line a o změně nařízení (ES) č. 2006/2004 a směrnice 2009/22/ES (nařízení o řešení spotřebitelských sporů on-line).
                    </li>
                    <li class="mt-2">
                        Kupující se může obrátit se stížností na orgán dohledu nebo státního dozoru. Prodávající je oprávněn k prodeji zboží na základě živnostenského oprávnění. Živnostenskou kontrolu provádí v rámci své působnosti příslušný živnostenský úřad. Dozor nad oblastí ochrany osobních údajů vykonává Úřad pro ochranu osobních údajů. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo jiné dozor nad dodržováním občanského zákoníku a zákona č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů.
                    </li>
                    <li class="mt-2">
                        Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského zákoníku.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">ZASÍLÁNÍ OBCHODNÍCH SDĚLENÍ A UKLÁDÁNÍ COOKIES</span>

                <ol>
                    <li class="mt-2">
                        Kupující souhlasí ve smyslu ustanovení § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti a o změně některých zákonů (zákon o některých službách informační společnosti), ve znění pozdějších předpisů, se zasíláním obchodních sdělení prodávajícím na elektronickou adresu či na telefonní číslo kupujícího. Svou informační povinnost vůči kupujícímu ve smyslu čl. 13 nařízení GDPR související se zpracováním osobních údajů kupujícího pro účely zasílání obchodních sdělení plní prodávající prostřednictvím zvláštního dokumentu.
                    </li>
                    <li class="mt-2">
                        Své zákonné povinnosti související s případným ukládáním cookies na zařízení kupujícího
                        plní prodávající prostřednictvím zvláštního dokumentu.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">DORUČOVÁNÍ</span>

                <ol>
                    <li class="mt-2">
                        Kupujícímu může být doručováno na elektronickou adresu kupujícího.
                    </li>
                </ol>
            </li>

            <li class="mt-3">
                <span class="fw-bold">ZÁVĚREČNÁ USTANOVENÍ</span>

                <ol>
                    <li class="mt-2">
                        Pokud vztah založený kupní smlouvou obsahuje mezinárodní (zahraniční) prvek, pak strany sjednávají, že vztah se řídí českým právem. Volbou práva podle předchozí věty není kupující, který je spotřebitelem, zbaven ochrany, kterou mu poskytují ustanovení právního řádu, od nichž se nelze smluvně odchýlit, a jež by se v případě neexistence volby práva jinak použila dle ustanovení čl. 6 odst. 1 Nařízení Evropského parlamentu a Rady (ES) č. 593/2008 ze dne 17. června 2008 o právu rozhodném pro smluvní závazkové vztahy (Řím I).
                    </li>
                    <li class="mt-2">
                        Je-li některé ustanovení obchodních podmínek neplatné nebo neúčinné, nebo se takovým stane, namísto neplatných ustanovení nastoupí ustanovení, jehož smysl se neplatnému ustanovení co nejvíce přibližuje. Neplatností nebo neúčinností jednoho ustanovení není dotčena platnost ostatních ustanovení.
                    </li>
                    <li class="mt-2">
                        Kupní smlouva včetně obchodních podmínek je archivována prodávajícím v elektronické podobě a není přístupná.
                    </li>
                    <li class="mt-2">
                        Přílohu obchodních podmínek tvoří vzorový formulář pro odstoupení od kupní smlouvy.
                    </li>
                    <li class="mt-2">
                        Kontaktní údaje prodávajícího: Rychvald 1215, 735 14 Rychvald, adresa elektronické pošty <a href="mailto:info@ceskakruta.cz">info@ceskakruta.cz</a>, telefon 596546672. Prodávající neposkytuje jiný prostředek on-line komunikace.
                    </li>
                </ol>
            </li>
        </ol>

        <p>V Rychvaldě dne 1.10.2024</p>

        <h3 class="mt-4">Příloha – Seznam provozoven.</h3>

        <p>
            Dlouhá Třída 474/25<br>
            Havířov - Město 736 01
        </p>

        <p>
            Čechova 2889/24a<br>
            Přerov - Město 750 02
        </p>

        <p>
            Hlavní 84<br>
            Frýdlant nad Ostravicí 739 11
        </p>

        <p>
            Mírové náměstí 519/3d<br>
            Ostrava – Vítkovice 700 30
        </p>
    </section>
{% endblock %}
