{% extends 'base.html.twig' %}

{% block title %}Velkoobchod{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Velkoobchod</h1>

        {{ include('_my_account_panel.html.twig') }}

        {#}
        <a class="btn btn-sm btn-outline-primary" href="#"><i class="ci ci-compare"></i> Zopakovat objednávku z minula</a>
        #}

        <a class="btn btn-sm btn-outline-secondary" href="#">Jednorázová objednávka</a>

        <div class="row calendars-picking mt-2">
            <div class="col-md-6 col-lg-4 mb-2">
                <div class="calendar-wrapper shadow p-1">
                    <table class="table table-borderless text-center mb-0">
                        <thead>
                        <tr>
                            <th><a href="#">Po</a></th>
                            <th><a href="#">Út</a></th>
                            <th><a href="#">St</a></th>
                            <th><a href="#" style="display: inline-block;border: 1px solid red;padding: 10px;">Čt</a></th>
                            <th><a href="#">Pá</a></th>
                            <th class="text-muted">So</th>
                            <th class="text-muted">Ne</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <a class="btn btn-sm btn-outline-primary" href="#"><i class="ci ci-close-circle"></i> Zrušit pravidelné objednávání na čt</a><br>

        <div class="card my-3">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="wholesable-table table m-0">
                        {% for product in products %}
                            <tr>
                                <td style="width: 80px;" class="p-1">
                                    {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                                        <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 50px;" alt="Product">
                                    {% else %}
                                        <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                                    {% endif %}
                                </td>
                                <td>{{ product.title }}</td>

                                <td class="text-end small">
                                    500g: <input type="text" class="form-control text-center me-1 form-control-sm d-inline-block mb-1" style="width: 40px;" value="0"> balíčků<br>
                                    1kg: <input type="text" class="form-control text-center me-1 form-control-sm d-inline-block mb-1" style="width: 40px;" value="0"> balíčků<br>
                                    5kg: <input type="text" class="form-control text-center me-1 form-control-sm d-inline-block mb-1" style="width: 40px;" value="0"> balíčků<br>
                                    Jiné: <input type="text" class="form-control text-center me-1 form-control-sm d-inline-block mb-1" style="width: 40px;" value="0"> kg<br>
                                    Celkem: 0 kg


                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <a class="btn btn-sm btn-primary" href="#">Uložit pravidelnou objednávku: Čtvrtek</a>

        <a class="btn btn-sm btn-outline-primary" href="#"><i class="ci ci-close-circle"></i> Zrušit pravidelné objednávání na čt</a><br>


    </section>

{% endblock %}
